/* reset  */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0; }

/* typography */
/* general */
body {
  height: 100vh; }

/* header */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .menu .menu__brand {
    color: white; }
  .menu .menu__links ul {
    display: flex;
    flex-direction: row; }
    .menu .menu__links ul li {
      list-style-type: none;
      color: white;
      margin: 10px; }
      .menu .menu__links ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px; }

/* footer */
footer {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 10%; }

/* sidebar */
/* Home Page*/
#mainPic {
  max-width: 100%;
  height: auto; }

.picContainer {
  height: 55vh;
  overflow: hidden;
  background-image: url("../img/main3.jpg");
  background-position: 0px 56%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#mainText {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: white; }

/* About Page */
/* Media Queries */
