/* reset  */
*{
    margin: 0; padding: 0;
}

/* typography */    

/* general */
body{
    height: 100vh;
    
}

/* header */


/* footer */
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 10%;
}
/* sidebar */
/* Home Page*/
#mainPic{
    
}

.picContainer{
    height: 70vh;
    overflow: hidden;
}


/* About Page */

/* Media Queries */